<div class="start_screen">
  <!-- <img src="./assets/img/startscreen.jpg" alt=""> -->

<div class="start_btn_container">
    <button (click)="newGame()">Start Game</button>
</div>



<div class="header_ring_of_fire">
  <!-- <h1>Ring</h1>
    <h1>of</h1>
    <h1>Fire</h1> -->
  </div>
  <div class="circle"></div>

  <svg>
    <filter id="wavy">
      <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="5" seed="2">
        <animate attributeName="baseFrequency" dur="60s" values="0.02;0.005;0.02" repeatCount="indefinite" />
      </feTurbulence>
      <feDisplacementMap in="SourceGraphic" scale="30" />
    </filter>
  </svg>

  <svg>
    <filter id="wavy_header">
      <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="2" seed="2">
        <animate attributeName="baseFrequency" dur="60s" values="0.005;0.001;0.005" repeatCount="indefinite" />
      </feTurbulence>
      <feDisplacementMap in="SourceGraphic" scale="30" />
    </filter>
  </svg>

</div>